@charset "utf-8";
/* CSS Document */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,input,textarea,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,i,em{margin:0;padding:0;font-style:normal;}
body{
	background-color:#FFF;
	overflow-x: hidden;
	-moz-user-select: none; 
	-webkit-user-select: none;  /*webkit浏览器*/
	-ms-user-select: none;   /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}

#mybody{
	overflow: hidden;
}

#m_picture{
	position:relative;
	width: 1000px;
	margin:  auto;
	overflow: hidden;
	height:640px ;
} 

#pictures{
	width: 100%;
	margin: auto;
	height:100% ; 
} 

#pictures .one_picture{ 
	top:0px;
	position:absolute;
	width: 1000px;
	opacity: 0;
	-webkit-transition: opacity 1s ease-out; 
	z-index:2;
}

#pictures .one_picture .picture_info{
	position: absolute; 
	margin:30px;
	margin-top:50px;
	padding:5px;
	font-family: Arial; 
	z-index:4;
	opacity: 0.5;
	text-decoration: none; 
	font-weight:600;
	font-size:18px;
	color:#FFF;
	background-color:#000;
} 

.picture_info a{
	text-decoration: none; 
	color:#FFF;
}

#radio1:checked ~ #pictures .one_picture:nth-child(1), 
#radio2:checked ~ #pictures .one_picture:nth-child(2), 
#radio3:checked ~ #pictures .one_picture:nth-child(3), 
#radio4:checked ~ #pictures .one_picture:nth-child(4), 
#radio5:checked ~ #pictures .one_picture:nth-child(5),
#radio6:checked ~ #pictures .one_picture:nth-child(6){
	opacity: 1;
} 


#pictures img{
	width:1000px;
	height:640px;
	overflow: hidden;
	cursor:pointer;
	
}
#m_picture [name="myradio"]{
	display:none;
}

#myRadioDiv{
	position:absolute;
	top:10px;
	left:30px;
	float:right;
}

#m_picture .trigger {
	cursor: pointer;
	position: relative;
	float: left;
	width: 8px; 
	height: 15px;
	margin:3px;
	background:#999;
	overflow: hidden;
	-webkit-transition: background .5s linear;
	z-index:4;
}

#radio1:checked ~ #myRadioDiv .trigger:nth-child(1),
#radio2:checked ~ #myRadioDiv .trigger:nth-child(2),
#radio3:checked ~ #myRadioDiv .trigger:nth-child(3),
#radio4:checked ~ #myRadioDiv .trigger:nth-child(4),
#radio5:checked ~ #myRadioDiv .trigger:nth-child(5),
#radio6:checked ~ #myRadioDiv .trigger:nth-child(6){ 
   background:#000 ;
}

#m_comment{
	top:0px;
	width:300px;
	right:-300px;
	height:640px;
	overflow: hidden;
	position:absolute;
	z-index:4;
	background-image:url(picture/h4-background3.png);
}

#comments{
	height:500px;
	width:300px;;
	z-index:4;
	overflow-y:auto;
}

.commenttitle{
	padding:10px;
	width:300px;
	height:50px;
	z-index:5;
	font-size:36px;
	color:#F00;
	text-align:center;
}

.one_comment{
	position:relative;
	width:280px;
	height:100px;
	color:#CCC;
	z-index:5;
}

.comment-left{
	position:absolute;
	width:70px;
	left:0px;
	z-index:5;
}

.comment-left img{
	width:50px;
	height:50px;
	padding:10px;
	padding-bottom:0px;
	z-index:6;
}
.comment-right{
	position:absolute;
	left:70px;
	width:200px;
	z-index:5;
}

.comment-text{
	padding:10px;
	font-size:12px;
}

.comment-info{
	padding:10px;
	font-size:9px;
}

.comment-name{
	padding:10px;
	font-size:9px;
	text-align:center;
}


#mousetest
{
	top:0px;
	width:10%;
	right:0px;
	height:640px;
	position:absolute;
	z-index:3;
}

.commentbuttom
{
	position:absolute;
	buttom:0px;
	padding:10px;
	width:300px;
	height:50px;
	z-index:5;
	font-size:30px;
	color:#F00;
	text-align:center;
}

.commentbuttom img{
	top:10px;
	position:absolute;
	height:40px;
	width:40px;
}

#imgleft{
	left:30px;
}

#imgright{
	right:30px;
}

.commentbuttomtext
{
	top:10px;
	left:100px;
	text-align:center;
	position:absolute;
	width:100px;
}



